<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctiondockerdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e14c5bde-3dfb-4628-8289-59c959d7ad9b/resourcegroups/DemoFunctionAppGroup/providers/Microsoft.Web/sites/AzureFunctionDockerDemo</ResourceId>
    <UserName>$AzureFunctionDockerDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunctiondockerdemo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>